/* asterisco serve para uma caracteristica que se aplica a todo o index html */
 * {
    box-sizing: border-box;
  }
  
body {
  font-family: 'Nunito', sans-serif;
  /* color: white; */
  line-height: 1.5;
}

.wrapper {
  max-width: 1200px;
}
  